body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #FA706B;
  margin-top: 0;
  padding: 30px;
}

header a:link, header a:visited {
  color: #000;
  text-decoration: none;
}

#content {
  width: 80vw;
  margin: 0 auto;
}

article {
  width: 80vw;
}

img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #FA706B;
  text-align: center;
  padding: 30px;
}

blockquote {
  border: 1px solid;
  padding: 10px;
}

.mastodon-post-date {
  background-color: #fff;
  text-align: left;
  padding: 0;
}

.mastodon-post-date a:link, .mastodon-post-date a:visited {
  color: #0000EE;
  text-decoration: underline;
}

time {
  text-align: left;
}

table, th, td {
  border: 1px solid #000;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.post-card__body {
  font-size: 1rem;
}

.post-card__ad-count {
  font-size: 3rem;
}

@media only screen and (min-width: 640px) {
  .post-card {
    width: 30%;
    margin: 0;
  }
}